<div class="sidebar" [class.active]="isOpen">
  <div class="logo">
    <span class="logo-text">Yana</span>
  </div>
  
  <ul class="menu">
    <li [class.active]="isRouteActive('/dashboard')">
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li [class.active]="isRouteActive('/estadisticas')">
      <a routerLink="/estadisticas" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i>
        <span>Estadísticas</span>
      </a>
    </li>
    <li [class.active]="isRouteActive('/participantes')">
      <a routerLink="/participantes" routerLinkActive="active">
        <i class="fas fa-user"></i>
        <span>Usuarios</span>
      </a>
    </li>
    <li [class.active]="isRouteActive('/configuraciones')">
      <a routerLink="/configuraciones" routerLinkActive="active">
        <i class="fas fa-cog"></i>
        <span>Configuraciones</span>
      </a>
    </li>
    <li class="logout">
      <a (click)="handlerLogout()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Cerrar Sesión</span>
      </a>
    </li>
  </ul>
</div>
