.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 100vh;
  padding: 0.5rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.3s ease;
  background: var(--color-azul);
  z-index: 1000;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar.active {
  width: 220px;
}

.logo {
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo-text {
  display: none;
  margin-left: 10px;
}

.menu {
  height: calc(100% - 80px);
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 0.8rem;
  margin: 5px 0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.menu li:hover,
.menu .active {
  background: #023a7f; /* Un azul sólido oscuro, similar al fondo principal */
}

.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
a:focus {
  outline: none;
  box-shadow: none;
  background: transparent;
}
.menu a span {
  overflow: hidden;
  white-space: nowrap;
  display: none;
}

.sidebar.active .menu a span {
  display: inline;
}

.sidebar.active .logo-text {
  display: inline;
}

.menu a i {
  font-size: 1.2rem;
  min-width: 20px;
  text-align: center;

}

.logout {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
    transform: translateX(-100%);
  }

  .sidebar.active {
    width: 220px;
    transform: translateX(0);
  }

  .menu a span {
    display: inline;
  }

  .logo {
    justify-content: flex-start;
    padding-left: 20px;
  }
}
