<div class="header-wrapper">
  <button class="menu-toggle d-md-none" type="button" aria-label="Open sidebar" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>
  <div class="header-title">
    <span class="logo-text fw-bold">YANADENV</span>
  </div>
  <div class="user-info">
    @if(login.isAuth) {
      <span class="nav-item nav-link text-primary mx-3">
        {{ login.user.username| uppercase  }}
        <button (click)="handlerLogout()" class="btn btn-danger ms-2" type="button">Logout</button>
      </span>
    } @else {
      <a class="btn btn-primary" [routerLink]="['/login']">Sign In</a>
    }
  </div>
</div>
