<div class="header-wrapper">
  <!-- Botón de toggle solo visible en móviles -->
  <button class="menu-toggle d-md-none" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>
  
  <div class="header-title">
    <span>Principal</span>
    <h2>Dashboard</h2>
  </div>
  
  <div class="user-info">
    <div class="search-box">
      <i class="fa-solid fa-search"></i>
      <input type="text" placeholder="Buscar" class="form-control">
    </div>
    <img src="/image/img.jpg" alt="User" class="ms-3">
  </div>
</div>