<div class="card border-0 shadow-lg">
  <div class="card-header card-header-azul fw-bold text-center">
    {{ titulo }}
  </div>

  <ul class="nav nav-tabs mb-4 justify-content-center border-bottom">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/participantes/form', participante.idPar]" routerLinkActive="active"
        #rlaParticipante="routerLinkActive" [class.disabled]="rlaParticipante.isActive"
        (click)="rlaParticipante.isActive && $event.preventDefault()">
        Participante
      </a>
    </li>
    <li class="nav-item" *ngIf="participante.edad < 18">
      <a class="nav-link"
        [routerLink]="apoderadoExistenteId ? ['/apoderados/form', apoderadoExistenteId] : ['/apoderados/form']"
        [queryParams]="{ idParticipante: participante.idPar }" routerLinkActive="active"
        #rlaApoderado="routerLinkActive" [class.disabled]="rlaApoderado.isActive"
        (click)="rlaApoderado.isActive && $event.preventDefault()">
        Apoderado
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/examenes/form', participante.idPar]" routerLinkActive="active"
        #rlaExamenes="routerLinkActive" [class.disabled]="rlaExamenes.isActive"
        (click)="rlaExamenes.isActive && $event.preventDefault()">
        Exámenes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/datoclinicos/form', participante.idPar]" routerLinkActive="active"
        #rlaDatosClinicos="routerLinkActive" [class.disabled]="rlaDatosClinicos.isActive"
        (click)="rlaDatosClinicos.isActive && $event.preventDefault()">
        Datos clínicos
      </a>
    </li>


  </ul>


  <div class="card-body bg-light d-flex justify-content-center">
    <form class="row g-4 px-3" style="max-width: 800px; width: 100%;">

      <div class="col-md-6">
        <label class="form-label">Nombres</label>
        <input type="text" class="form-control" [(ngModel)]="participante.nombre" name="nombre">
      </div>

      <div class="col-md-6">
        <label class="form-label">Apellido Paterno</label>
        <input type="text" class="form-control" [(ngModel)]="participante.apellidoPaterno" name="apellidoPaterno">
      </div>

      <div class="col-md-6">
        <label class="form-label">Apellido Materno</label>
        <input type="text" class="form-control" [(ngModel)]="participante.apellidoMaterno" name="apellidoMaterno">
      </div>

      <div class="col-md-6">
        <label class="form-label">Sexo</label>
        <select class="form-select" [(ngModel)]="participante.sexo" name="sexo">
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Documento de identidad</label>
        <select class="form-select" [(ngModel)]="participante.tipoDocumento" name="tipoDocumento">
          <option value="DNI">DNI</option>
          <option value="Carnet de Extranjería">Carnet de Extranjería</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">N° de documento</label>
        <input type="text" class="form-control" [(ngModel)]="participante.numeroDocumento" name="numeroDocumento">
      </div>

      <div class="col-md-6">
        <label class="form-label">Edad</label>
        <input type="number" class="form-control" [(ngModel)]="participante.edad" name="edad">
      </div>

      <div class="col-md-6" *ngIf="participante.sexo === 'F'">
        <label class="form-label">Gestante</label>
        <select class="form-select" [(ngModel)]="participante.gestante" name="gestante">
          <option value="Sí">Sí</option>
          <option value="No">No</option>
        </select>
      </div>

      <div class="col-md-6" *ngIf="participante.sexo === 'F' && participante.gestante === 'Sí'">
        <label class="form-label">Edad gestacional (semanas)</label>
        <input type="number" class="form-control" [(ngModel)]="participante.edadGestacional" name="edadGestacional">
      </div>

      <div class="col-12 d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-success mx-2" (click)="create()"
          *ngIf="!participante.idPar; else elseBlock">
          Guardar
        </button>
        <ng-template #elseBlock>
          <button type="button" class="btn btn-primary mx-2" (click)="update()">
            Editar
          </button>
        </ng-template>
        <button *ngIf="participante.idPar" type="button" class="btn btn-info" (click)="continueToExams()">
          Exámenes
        </button>
      </div>

    </form>
  </div>
</div>