<div class="tabular-wrapper">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h5 class="main-title">Participantes</h5>
    <button [routerLink]="['/participantes/form']" class="btn btn-success">
      <i class="fas fa-plus me-2"></i> Crear participante
    </button>
  </div>

  <div class="table-responsive">
    <table class="custom-table">
      <thead class="color-azul">
        <tr>
          <th>Participante</th>
          <th>Sexo</th>
          <th>Tipo Doc.</th>
          <th>N° Doc.</th>
          <th>Edad</th>
          <th>Acciones</th>
          <th>Agregar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participante of participantes">
          <td>{{ getNombreCompleto(participante) }}</td>
          <td>{{ participante.sexo }}</td>
          <td>{{ participante.tipoDocumento }}</td>
          <td>{{ participante.numeroDocumento }}</td>
          <td>{{ participante.edad }}</td>
          <td>
            <div class="d-flex justify-content-center gap-2 flex-wrap">
              <button type="button" [routerLink]="['/participantes/form', participante.idPar]"
                class="btn btn-sm btn-primary">
                <i class="fas fa-edit"></i> Editar
              </button>
              <button type="button" (click)="delete(participante)" class="btn btn-sm btn-danger">
                <i class="fas fa-trash-alt"></i> Eliminar
              </button>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center gap-2 flex-wrap">
              <!-- Botón para agregar exámenes -->
              <button type="button" [routerLink]="['/examenes/form', participante.idPar]" class="btn btn-sm btn-info">
                <i class="fas fa-vial"></i> Examenes
              </button>
              <button [routerLink]="['/datoclinicos/form/participante', participante.idPar]"
                class="btn btn-sm btn-warning">
                <i class="fas fa-stethoscope"></i> Editar Dato Clínico
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>