<div class="card border-0 shadow-lg">
  <div class="card-header card-header-azul fw-bold">
    {{ titulo }}
  </div>
  <ul class="nav nav-tabs mb-4 justify-content-center border-bottom">
    <!-- Participante -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/participantes/form', participante.idPar]" routerLinkActive="active"
        #rlaParticipante="routerLinkActive" [class.disabled]="rlaParticipante.isActive"
        (click)="rlaParticipante.isActive && $event.preventDefault()">
        Participante
      </a>
    </li>

    <!-- Exámenes -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/examenes/form', participante.idPar]" routerLinkActive="active"
        #rlaExamenes="routerLinkActive" [class.disabled]="rlaExamenes.isActive"
        (click)="rlaExamenes.isActive && $event.preventDefault()">
        Exámenes
      </a>
    </li>

    <!-- Datos clínicos -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/datoclinicos/form', participante.idPar]" routerLinkActive="active"
        #rlaDatosClinicos="routerLinkActive" [class.disabled]="rlaDatosClinicos.isActive"
        (click)="rlaDatosClinicos.isActive && $event.preventDefault()">
        Datos clínicos
      </a>
    </li>
  </ul>

  <div class="card-body ">
    <form class="row g-3">
      <!--<div class="col-12 mb-3">
        <p class="text-center">
          <strong>Participante</strong>
          {{ participante?.nombre + ' ' + participante.apellidoPaterno + ' ' + participante.apellidoMaterno }}
        </p>
      </div>-->
      <div class="row">
        <div *ngFor="let examen of examenes; let i = index"
          class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
          <div class="card shadow-sm h-100 w-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title mb-3 text-center">Examen {{ i + 1 }}</h5>

              <div class="mb-3">
                <label for="nombreExa-{{ i }}" class="form-label">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="examen.nombreExa" name="nombreExa-{{ i }}"
                  list="listaExamenes" required />
                <datalist id="listaExamenes">
                  <option *ngFor="let opcion of examenesDisponibles" [value]="opcion"></option>
                </datalist>
              </div>

              <div class="mb-3">
                <label class="form-label d-block">Resultado</label>
                <div class="form-check form-check-inline" *ngFor="let res of ['Positivo','Negativo','No se sabe']">
                  <input type="radio" id="{{ res.toLowerCase() }}-{{ i }}" name="resultado-{{ i }}"
                    [(ngModel)]="examen.examenResultado" [value]="res" class="form-check-input" />
                  <label for="{{ res.toLowerCase() }}-{{ i }}" class="form-check-label">{{ res }}</label>
                </div>
              </div>

              <div class="mb-3">
                <label for="fechaResultado-{{ i }}" class="form-label">Fecha</label>
                <input type="date" class="form-control" [(ngModel)]="examen.fechaResultado"
                  name="fechaResultado-{{ i }}" required />
              </div>

              <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-danger btn-sm" (click)="eliminarExamen(i)">
                  Eliminar Examen
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-info mx-2" (click)="agregarExamen()">Agregar Examen</button>
        <button type="button" class="btn btn-primary mx-2" (click)="guardarExamenes()"
          [disabled]="!participante?.idPar || examenes.length === 0">
          Guardar Exámenes
        </button>
      </div>

    </form>
  </div>
</div>